

<div class="album py-1 g-12" style="padding: 1px">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      <div class="col">
        <div class="card shadow-sm" style="background-color: #ffffff">
          <img src="../assets/images/slider1.png" class="img-fluid" style="max-height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Una locura de Tasty & Bacon</h5>
            <p class="card-text p-1 text-center">Solo con el primer mordisco te volverás fanático</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-warning" (click)="sendValue(propertyBinding)">Conoce más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: #ffffff">
          <img src="../assets/images/slider1.png" class="img-fluid" style="max-height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Sabores en tu boca</h5>
            <p class="card-text p-1 text-center">Solo con el primer mordisco te volverás fanático</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-warning">Conoce más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container col-12 py-2">
  <div class="p-4 mb-1 rounded text-body-emphasis" style="background-color: #f8ab1d">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fst-italic">Cuéntanos tu experiencia</h1>
        <p class="lead my-3" style="color: black">Personaliza tus hamburguesas, descubre una experiencia de sabor única y regresa por más</p>
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continuar leyendo...</a></p>
      </div>
      <div class="col-md-6">
        <div id="contenedor" class="row featurette">
          <img src="assets/images/slider%204.jpeg" class="img-fluid rounded-5" alt="Imagen" style="max-height: 200px; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="album py-1 g-12" style="padding: 1px">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      <div class="col">
        <div class="card shadow-sm" style="background-color: #ffffff">
          <img src="../assets/images/slider1.png" class="img-fluid" style="max-height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Una locura de Tasty & Bacon</h5>
            <p class="card-text p-1 text-center">Solo con el primer mordisco te volverás fanático</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-warning">Conoce más</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: #ffffff">
          <img src="../assets/images/slider1.png" class="img-fluid" style="max-height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Una locura de Tasty & Bacon</h5>
            <p class="card-text p-1 text-center">Solo con el primer mordisco te volverás fanático</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-warning">Conoce más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

